<div class="text-dark p-3 footer mt-auto">
  <div class="footer-container mx-auto">
    <div class="footer-columns d-flex">
      <div class="footer-brand">
        <h2>Brand</h2>
      </div>
      <div class="footer-links">
        <h3>Contact</h3>
        <ul>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=++551194129-6138&text=Ol%C3%A1."
              >Whatsapp</a
            >
          </li>
          <li><a href="">juliojc.jord@gmail.com</a></li>
        </ul>
      </div>
      <div class="footer-links social">
        <h3>Social</h3>
        <ul>
          <li><a href="https://github.com/JCJord">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/jc-jord/">Linkedin</a></li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=++551194129-6138&text=Ol%C3%A1."
              >Whatsapp</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-footer text-center">
      © 2020 Copyright:

      <a class="text-dark" href="#">github.com/JCJord</a>
    </div>
  </div>
</div>
<div class="overlay hidden"></div>
<script src="/js/main.js"></script>
