<div class="nav-wrapper fixed-top">
  <nav class="navbar navbar-dark b mx-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Brand</a>

      <div class="nav-icons">
        <ul class="nav navbar d-flex d-inline-flex nav-set">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"> Home</a>
          </li>
          <%if(logged !=undefined){%>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories/"> Categories panel </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/articles/"> Articles panel </a>
          </li>
          <%}%>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Categories
              <img src="/img/arrow-down.svg" class="arrow-img" alt="" />
            </a>

            <ul class="dropdown-s">
              <%categories.forEach((category)=>{%>
              <li>
                <a href="/category/<%=category.slug%>" class="drop-link"
                  ><%=category.title%></a
                >
              </li>
              <% })%>
            </ul>
          </li>
          <%if(logged == undefined){%>
          <li class="nav-item">
            <a class="nav-link" href="https://jcjord.github.io/portfolio/">
              About Us
            </a>
          </li>
          <%}%>
        </ul>
      </div>
      <div class="user-icons">
        <%if(logged == undefined){%>
        <a href="/user/login" class="btn btn-light btn-login">Log in</a>
        <%}%> <%if(logged != undefined){%>
        <a href="/user/logout" class="btn btn-light btn-login">Log Out</a>
        <%}%>
      </div>

      <a class="animated-icon1" onclick="openNav()">
        <span></span><span></span><span></span>
      </a>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="/">Home</a>
      <a href="/categories">Categories</a>
      <%if(logged == undefined){%>
      <a href="/user/login">Log In</a>
      <%}else{%>
      <a href="/user/logout">Log Out</a>
      <%}%>
    </div>
  </nav>
</div>
