<div class="nav-wrapper bg-light fixed-top">
  <nav class="navbar navbar-dark bg-light mx-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Brand</a>

      <div class="nav-icons">
        <ul class="nav navbar d-flex d-inline-flex nav-set">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Question </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Blog </a>
          </li>
        </ul>
      </div>
      <div class="user-icons">
        <a href="#"><i class="far fa-user-circle"></i></a>

        <a href="#" class="btn btn-light btn-login">Login</a>
      </div>

      <a class="hamburger" href="#" onclick="openNav()"><span></span></a>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="/">Perguntas</a>
      <a href="/">Services</a>
      <a href="/">Community</a>
      <a href="/">Categories</a>
    </div>
  </nav>
</div>
